#projects {
    height: 100vh;
    width: 85%;
    margin: 0 auto;
    margin-top: 150px;
    flex-direction: column;
    background-color: var(--bg-clr-primary);
}

#projects h1 {
    font-size: 65px;
    opacity: 0.8;
    color: var(--clr-sec-text);
}

#projects h2 {
    font-size: 20px;
    opacity: 0.5;
    color: var(--clr-sec-text);
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
    #projects {
        width: 100%;
        margin-top: 0px;
        justify-content: unset;
        padding-top: 40px;
        height: unset;
    }

    #projects h1 {
        font-size: 50px;
    }
}
