#skills {
    width: 50%;
    margin: 0 auto;
    padding-top: 90px;
}

#skills h1 {
    font-weight: 600;
    font-size: 4rem;
    opacity: 0.8;
    color: var(--clr-sec-text);
}

#skills .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 2rem;
}

.skill {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 5px;
    column-gap: 0.5rem;
    color: var(--clr-sec-text);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
    );
}

.skill .skillImg {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 2.5rem;
}

.skill .skillType {
    font-size: 0.8rem;
    opacity: 0.7;
    font-weight: 200;
}

#skills .toolsWrapper {
    color: var(--clr-sec-text);
    margin-top: 3rem;
}

#skills .toolsWrapper h2 {
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
    #skills {
        min-height: 60vh;
        padding-top: 40px;
        justify-content: unset;
    }

    #skills h1 {
        font-size: 50px;
    }
}
