#skills {
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
}

#skills .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 2rem;
}

.skill {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 5px;
    column-gap: 0.5rem;
    transform: translateX(20%);
    opacity: 0;
    transition: transform, opacity, 500ms ease-in-out;
    color: var(--clr-sec-text);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
    );
}

.skill.show {
    transform: translateX(0%);
    opacity: 1;
}

.skill .skillImg {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 2.5rem;
}

.skill .skillType {
    font-size: 0.8rem;
    opacity: 0.7;
    font-weight: 200;
}

#skills .toolsWrapper {
    color: var(--clr-sec-text);
    margin-top: 3rem;
}

#skills .toolsWrapper h2 {
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
    #skills {
        margin: auto;
        width: 90%;
    }

    #skills .wrapper {
        width: 100%;
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    #skills .skill {
        font-size: 1rem;
        padding: 0.2rem;
    }
}
