@keyframes blobAnimation {
    0% {
        border-radius: 401px 573px 466px 717px;
    }

    25% {
        border-radius: 717px 401px 573px 466px;
    }

    75% {
        border-radius: 466px 717px 401px 573px;
    }

    100% {
        border-radius: 401px 573px 466px 717px;
    }
}

@keyframes profileImgAni {
    0% {
        transform: translateY(-80px);
    }

    100% {
        transform: translateY(20px);
    }
}

.headerSection {
    padding-top: 100px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    background-color: var(--bg-clr-primary);
}

.headerGridContainer {
    height: 500px;
    width: 85%;
    column-gap: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 50%);
}

.profileImg {
    color: red;
}

.headerSection h1 {
    margin: auto 0;
    font-size: 60px;
    opacity: 0.7;
    color: var(--clr-sec-text);
}

.headerSection h2 {
    margin: auto 0;
    font-size: 40px;
    opacity: 0.5;
    color: var(--clr-sec-text);
}

.headerSection p {
    margin: auto 0;
    font-size: 20px;
    opacity: 0.6;
    color: var(--clr-sec-text);
}

.contactIco {
    width: 20px;
    margin-left: 5px;
    fill: white;
}

.blob {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    margin: auto auto;
    background-color: var(--clr-accent-light);
    height: 360px;
    animation: blobAnimation 10000ms ease infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImg {
    width: 450px;
    animation: profileImgAni 2000ms ease-in-out infinite alternate;
}

.verticalSocials {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    height: 200px;
    left: -20px;
}

.verticalSocials * {
    font-size: 25px;
    fill: var(--clr-accent);
}

.scrollDown {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 80px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: transform ease-in 200ms;
}

.scrollDown:hover {
    transform: translateY(10px);
}

.scrollDown p {
    font-size: 20px;
    color: var(--clr-sec-text);
}

.scrollIcons {
    margin: auto 10px;
    height: 30px;
    fill: var(--clr-accent);
}

.downIcon {
    height: 20px;
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
    @keyframes profileImgAni {
        0% {
            transform: translateY(-40px);
        }

        100% {
            transform: translateY(10px);
        }
    }

    .headerSection {
        padding: 0;
    }

    .headerGridContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 90%;
    }

    .headerSection h1 {
        font-size: 35px;
        text-align: center;
    }

    .headerSection h2 {
        text-align: center;
        font-size: 25px;
    }

    .headerSection p {
        font-size: 15px;
        text-align: center;
    }

    .blob {
        width: 240px;
        height: 200px;
    }

    .profileImg {
        width: 250px;
    }

    .headerSection button {
        height: 40px;
        width: 120px;
        font-size: 13px;
        margin-right: 10px;
        align-self: flex-end;
    }

    .contactIco {
        width: 13px;
    }

    .verticalSocials {
        left: 95%;
    }

    .scrollDown {
        left: 50%;
        bottom: 6%;
        width: 140px;
        height: 30px;
    }

    .scrollDown p {
        font-size: 13px;
    }

    .scrollIcons {
        height: 13px;
    }
}
