#about {
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    gap: 2rem;
}

#about h1 {
    font-size: 65px;
    opacity: 0.8;
    color: var(--clr-sec-text);
}

#about .aboutWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#about .aboutWrapper .aboutMe {
    text-align: justify;
}

#about .aboutWrapper p {
    color: var(--clr-sec-text);
    font-size: 1.5rem;
}

#about .aboutWrapper p span {
    color: #6b6b6b;
}

#about .aboutWrapper .experience {
    margin: auto;
    display: flex;
    gap: 1rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
}
