#about {
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    gap: 2rem;
}

#about .aboutWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#about .aboutWrapper .aboutMe {
    text-align: justify;
}

#about .aboutWrapper p {
    color: var(--clr-sec-text);
    font-size: 1.5rem;
}

#about .aboutWrapper p span {
    color: #6b6b6b;
}

#about .aboutWrapper .experience {
    margin: auto;
    display: flex;
    gap: 1rem;
    text-align: center;
}

/* SMALL SCREENS */
@media screen and (max-width: 600px) {
    #about{
        min-height: auto;
    }

    #about .aboutWrapper p {
        font-size: 1rem;
    }
}
