---
import Header from './../Components/Header/Header';
import NavBar from './../Components/NavBar/NavBar';
import Blob from './../Components/Blob/Blob';
import About from './../Components/About/About';
import Skills from './../Components/Skills/Skills';
import ProjectSlides from './../Components/ProjectSlides/ProjectSlides';
import Contact from './../Components/Contact/Contact';
import Footer from './../Components/Footer/Footer';
import './index.css';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Portfolio</title>
	</head>
	<body>
		<NavBar client:load />
		<Header client:load />
		<Blob client:load />
		<About client:load />
		<Skills client:visible />
		<ProjectSlides client:visible />
		<Contact client:visible />
		<Footer client:visible />
	</body>
</html>
