#projects {
    min-height: 100vh;
    width: 85%;
    margin: 150px auto 0;
    flex-direction: column;
}

#projects h1 {
    font-size: 65px;
    opacity: 0.8;
    color: var(--clr-sec-text);
}

#projects h2 {
    font-size: 20px;
    opacity: 0.5;
    margin-bottom: 4rem;
    color: var(--clr-sec-text);
}

.projectsContainer {
    min-height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
    #projects {
        width: 100%;
        margin-top: 0;
        justify-content: unset;
        padding-top: 40px;
        height: unset;
    }

    #projects h1 {
        font-size: 50px;
    }

    .projectsContainer {
        height: 60%;
    }
}
