#projects {
    min-height: 100vh;
    width: fit-content;
    margin: 150px auto 0;
    flex-direction: column;
}

.projectsContainer {
    min-height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

#projects .showMore{
    color: var(--clr-sec-text);
    margin-left: auto;
    margin-top: 3rem;
    cursor: pointer;
    transition: color 500ms;
}

#projects .showMore:hover{
    color: rgb(196, 196, 196);
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
    #projects {
        width: 100%;
        margin-top: 0;
        padding-top: 40px;
        height: unset;
    }

    .projectsContainer {
        height: 60%;
        gap: 1rem;
        padding: 0.5rem;
    }
}
