nav {
    position: fixed;
    left: 50%;
    top: 5%;
    z-index: 5;
    width: fit-content;
    margin: 0 auto;
    padding: 0.2rem;
    border-radius: 50px;
    background-color: rgb(45, 45, 45, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--clr-sec-text);
    transform-style: preserve-3d;
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateX(-50%)
        translateY(50%) translateZ(0px);
}

nav ul {
    display: flex;
    gap: 0.2rem;
    font-size: 1.5rem;
    list-style-type: none;
}

nav ul li {
    background-color: transparent;
    scale: 1;
    border-radius: 50px;
    padding: 0.2rem 0.8rem;
    transition: scale, background-color, 250ms;
}

nav ul li.active {
    background-color: rgba(255, 255, 255, 0.2);
    scale: 1.2;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

nav ul li:hover {
    scale: 1.2;
}

/* SMALL DEVICES */

@media screen and (max-width: 600px) {
    nav ul {
        font-size: 0.8rem;
    }
}
