footer {
    margin-top: 100px;
    height: 300px;
    width: 100%;
    background-color: var(--clr-accent);
}

.footerContentCont {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: white;
    position: relative;
}

.footerNameInfo h2 {
    font-size: 50px;
    margin-bottom: 5px;
}

.footerNameInfo p {
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.footerContentCont > :nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
}

.footerContentCont > :nth-child(2) a {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: inherit;
}

.socials {
    height: 40%;
    justify-content: space-evenly;
}

.socials > * {
    font-size: 30px;
    color: white;
}

.footerContentCont > :last-child {
    position: absolute;
    bottom: 0;
    left: 35%;
    opacity: 0.6;
}

/* SMALL DEVICES */

@media screen and (max-width: 600px) {
    footer {
        height: 145px;
        margin-top: 60px;
    }

    .footerContentCont {
        width: 100%;
    }

    .footerNameInfo {
        height: 50%;
        margin-left: 14px;
    }

    .footerNameInfo > h2 {
        font-size: 25px;
    }

    .footerNameInfo > p {
        font-size: 15px;
    }

    .footerContentCont > :nth-child(2) {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .footerContentCont > :nth-child(2) a {
        font-size: 15px;
    }

    .socials {
        height: unset;
        display: flex;
        flex-direction: column;
    }

    .socials > * {
        margin: 5px 0;
        font-size: 20px;
    }

    .footerContentCont > :last-child {
        bottom: 1px px;
        left: 25%;
        font-size: 13px;
    }
}
