@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html,
body {
	overflow: hidden auto;
	scroll-behavior: smooth;
	scroll-padding-top: 35px;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea,
button,
select {
	font-family: inherit;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	text-wrap: nowrap;
}

:root {
	--bg-clr-primary: rgb(11, 11, 11);
	--clr-text: black;
	--clr-sec-text: white;
}

body {
	background-color: var(--bg-clr-primary);
	position: relative;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(128, 128, 128, 0.509);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(128, 128, 128, 0.309);
}

:where(.flex-center) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionMainHeading {
	font-weight: 400;
	font-size: 4rem;
	opacity: 0.8;
	color: var(--clr-sec-text);
}

.sectionSecondaryHeading {
	font-weight: 400;
	font-size: 1.5rem;
	opacity: 0.5;
	margin-bottom: 3rem;
	color: var(--clr-sec-text);
}

.primaryBtn {
	height: fit-content;
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border-width: 0;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--clr-text);
	background-color: white;
	transition: background-color 500ms;
}

.primaryBtn:hover {
	background-color: rgb(172, 172, 172);
}

.secondaryBtn {
	height: fit-content;
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border-width: 0;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid white;
	color: var(--clr-sec-text);
	transition: background-color 500ms;
}

.secondaryBtn:hover {
	background-color: rgb(251, 251, 251, 0.2);
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
	.sectionMainHeading {
		font-size: 3rem;
	}
}
